*.log
.gradle/*
scripts/mysql/*
#build/*
#gradle/*

######################
# Visual Studio Code
######################
.vscode/
.settings/
.project
######################
# Intellij IDEA
######################
*.iml
.idea/
